p {
  font-size: 30px;
}

#one {
  display: flex;
  /* flex-direction: column-reverse;
  align-items: center; */
  justify-content: space-around;
  background-color: aqua;
  width: 50%;
}

#two {
  display: flex;
  justify-content: space-around;
  background-color: aqua;
  width: 50%;
}

#three {
  display:flex;
  justify-content: space-around;
}

.dropdown {
  background-color: white;
}

button {
  background-color: blue;
  color: white;

}